<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css">
  <link rel="stylesheet" href="css/roca.css" type="text/css">
</head>
<body>
  <div class="container">

    <header class="main">
      <h1>
        <a href="index.html">
          ROCA
          <small>Resource-oriented Client Architecture</small>
        </a>
      </h1>
      <p class="lead">A collection of simple recommendations for decent Web application frontends</p>
      <div class="subnav">
        <ul class="nav nav-pills">
          <li><a href="index.html">Home</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="widgets.html">Examples</a></li>
          <li><a href="discussion.html">Discussion</a></li>
          <li><a href="https://github.com/innoq/ROCA">Contribute</a></li>
        </ul>
      </div>
    </header>

    <hr>

    {{ content }}

  </div>
</body>
</html>
